<% layout("/layouts/boilerplate.ejs") %>

<div class="row">

    <div class="alert alert-danger  col-6 offset-3" role="alert">
        <use xlink:href="#exclamation-triangle-fill" />
    </svg>

        <h4 class="alert-heading"><%= err.message %></h4>
    </div>
</div>